################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XStudentsChipApp/FileContentIndex/9bb09250-5c72-4425-979a-863aec666f4f.vsidx
