################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XStudentsChipApp/FileContentIndex/d7a9f54d-ed8d-4a73-af84-2c9cc8e0f8d1.vsidx
/.vs/XStudentsChipApp/FileContentIndex/41cb299e-b449-4a73-a983-171bba17873e.vsidx
